@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: 'Roboto', sans-serif;
}

.upper-nav {
  background-color: red;
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1rem;
}



.subscribe h4 {
  font-size: 1.2rem;
}

.subscribe .btn-lg {
  padding: -2.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  background: white;
  border-radius: 0.3rem;
  color: red;
  font-weight: 800;
}

/* .sticky-top {
  width: fit-content
} */

.nav-item {
  border-right: 1px solid black;
  height: 35px;
}

.nav-item:nth-child(11) {
  border-right: none;
}

.nav-item:nth-child(12) {
  border-right: none;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  color: black;
}

input {
  border: 0;
}

.fa-search {
  position: relative;
  right: 122px;
  font-size: 1.2rem;
  font-weight: 600;
  color: grey;
}

.featured {
  font-size: 1rem;
  color: rgba(3, 3, 3, 0.4);
}

.magazine {
  font-size: 1.3rem;
}

.issue {
  position: absolute;
  left: 15px;
  top: 338px;
  font-size: 1rem;
  font-weight: 700;
}

.see {
  position: absolute;
  left: 15px;
  top: 370px;
  font-size: 1rem;
  font-weight: 700;
}

.articles p {
  line-height: 1.5;
  font-size: 1.08rem;
}

.articles span {
  background-color: red;
}

.articles p .inner-span {
  font-size: 1rem;
  color: red;
}

.editors h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.slideshow h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.slideshow p {
  font-size: 1.2rem;
  font-weight: 700;
}

.US h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: red;
}

.US p {
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

.US p:hover {
  text-decoration: red underline;

}

.wrap2 {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  top: 185px;
}

.wrap-2 {
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  top: 153px;
}

.wrap3 {
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  top: 299px;
}

.wrap4 {
  font-size: 0.8rem;
  font-weight: 500;
  position: absolute;
  top: 86px;
}

.wrap-1 {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  bottom: 54px;
}
.main {
  width: 100%;
}

.bigN-btn {
  background-color: red;
  font-size: 1.2rem;
  font-weight: 700;
}

.signup-btn {
  font-weight: 700;
  font-size: 1rem;
}

.img-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.culture-travel h3 {
  font-family: 'Lora' , serif;
  font-size: 1.2rem;
  font-weight: 100;
}

.opinion-info p {
  font-size: 1rem;
  font-weight: 700;
}

.opinion-info p span {
  font-size: 0.7rem;
}
.sub-signup h4{
  color: red;
}

.bigN-para {
  font-size: 1.1rem;
}

.news-block h2,
.sub-class h2{
  font-size: 1.2rem;
  font-weight: 700;  
}

.news-block p,
.sub-class p{
  font-size: 1rem;  
}


.fa-facebook-square,
.fa-twitter, 
.fa-instagram, 
.fa-tumblr,
.fa-linkedin-in {
  font-size: 2rem;
  color: rgba(36, 34, 34, 0.644);
  margin-top: -9%;
}

.country li:nth-child(1) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  color: rgb(102, 102, 102);
}

.country li,
.contact li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: rgb(102, 102, 102);
}
