* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html,
body {
  width: 100%;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

nav .upper-nav {
  background-color: rgb(247, 34, 16);
}

.weather-date {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  font-size: 1rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.slides {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 0;
}

.weather {
  font-weight: 700;
  font-size: 0.8rem;
}

.subscribe-btn {
  color: red;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
}

.subscribe h4 {
  font-size: 1rem;
}

.navlinks {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.navlinks .container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.nav-link:hover {
  color: red;
}

.nav-item .search {
  font-weight: 100;
}

.fa-search {
  right: 186px;
}

.nav-item .search:hover {
  text-decoration: none;
}

.wrap2 {
  top: 255px;
  z-index: 99;
  position: relative;
}

.img-titles {
  font-size: 1.2rem;
  font-family: serif;
  font-weight: 700;
}

.img-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.culture-travel .img-p {
  color: lightgrey;
}

.top-story-image {
  position: relative;
}

.right {
  margin-left: 6rem !important;
}

.wrap3 {
  top: 281px;
  left: 14px;
  z-index: 99;
  position: absolute;
}

.wrap4 {
  top: 69px;
  z-index: 99;
  position: absolute;
}

.opinion-info {
  font-weight: 700;
  font-size: 0.95rem;
}

.opinion-img {
  height: 20%;
}

.debate-bar {
  background-color: red;
  padding: 1px;
}

.debaters p {
  font-size: 1rem;
  font-weight: 700;
}

.author p {
  font-size: 0.8rem;
}

.featured {
  font-size: 1rem;
  color: rgba(3, 3, 3, 0.4);
}

.news-wrap strong {
  font-size: 1.2rem;
  font-weight: 700;
}

.articles-editors strong {
  font-size: 1.2rem;
  font-weight: 700;
}

.news p strong {
  font-size: 1rem;
}

.bigN-btn {
  background-color: red;
  font-size: 1.2rem;
  font-weight: 700;
}

.signup {
  padding: 1.5rem;
}

.signup-btn {
  font-weight: 700;
  font-size: 1rem;
}

.signup small {
  font-size: 0.8rem;
}

.february {
  top: 344px;
  z-index: 99;
  position: absolute;
  font-weight: 600;
}

.see {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(247, 34, 16);
}

.articles p {
  line-height: 1.5;
  font-size: 1.08rem;
}

/* .upper-nav .subscribe {
  left: 0;
  position: relative;
  top: -9px;
} */

.articles span {
  background-color: red;
}

.articles p .inner-span {
  font-size: 1rem;
  color: red;
}

#navbarResponsive {
  width: 100%;
}

.editors h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.slideshow h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.slideshow p {
  font-size: 1.2rem;
  font-weight: 700;
}

.stories-1 {
  display: none;
}

.stories-2 {
  display: none;
}

.news-wrap {
  top: 168px;
  z-index: 99;
  position: absolute;
}

.news-wrap p {
  font-size: 1rem;
}

.US h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: red;
}

.US p {
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

.articles-editors p {
  font-size: 0.9rem;
}

.sub-signup p {
  font-size: 1rem;
}

.US p:hover {
  text-decoration: red underline;
}

.cover2 {
  top: 19px;
  left: 65px;
}

.sub-signup {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.left-sub h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

.starting h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

.news-block-header {
  margin-top: 0;
}

.articles-1 img {
  height: 65%;
}

.sub-signup h4 {
  color: red;
}

.letter {
  top: 10px;
  left: 20px;
}

.newsweek {
  top: 1px;
}

.sides .float-right {
  top: -65px;
}

.fa-facebook-square,
.fa-twitter,
.fa-instagram,
.fa-tumblr,
.fa-linkedin-in {
  font-size: 1.5rem;
  color: rgba(36, 34, 34, 0.644);
  margin-top: -9%;
}

.country li,
.contact li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102, 102, 102);
}

.extras {
  display: flex;
}

.logo {
  width: 40%;
}

.black-pres {
  width: 33%;
  height: 50%;
}

.debate-img {
  width: 35%;
}

.feature-img {
  bottom: 38px;
}

.author-img {
  margin-left: 13rem;
  position: relative;
  top: -49px;
}

@media screen and (max-width: 992px) {
  .wrap2 {
    top: 177px;
  }

  .fa-search {
    right: 137px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.2rem;
    font-size: 0.9rem;
    padding-left: 0.2rem;
  }

  .wrap4 {
    top: 36px;
    z-index: 99;
    position: absolute;
  }

  .wrap3 {
    top: 197px;
    left: 14px;
    z-index: 99;
    position: absolute;
  }

  .author-img {
    margin-left: 10rem;
  }

  .signup {
    padding: 1rem;
  }

  .trump-middle {
    display: none;
  }

  .updates {
    display: none;
  }

  .img-titles {
    font-size: 1.4rem;
    font-family: serif;
    font-weight: 100;
  }

  .navbar {
    position: relative;
    padding: 0;
  }

  .news-block-header {
    margin-top: 0;
  }

  .stories-1 {
    display: flex;
  }

  .stories-2 {
    display: grid;
  }

  .left-sub h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2rem;
  }

  .starting h2 {
    font-size: 0.9rem;
    font-weight: 700;
  }

  .sub-signup p {
    margin-left: 2rem;
  }

  .bottom-sub {
    margin-left: 2rem;
  }

  .feature-img {
    bottom: 57px;
  }

  .news-wrap {
    top: 108px;
    z-index: 99;
    position: absolute;
  }

  .february {
    top: 225px;
  }
}

@media screen and (max-width: 768px) {
  .feature-img {
    bottom: 75px;
  }

  .wrap4 {
    top: 42px;
  }

  .wrap2 {
    top: 167px;
  }

  .wrap3 {
    top: 204px;
  }

  .author-img {
    margin-left: 34rem;
    position: relative;
    top: -49px;
  }

  .stories-2 {
    display: none;
  }

  .stories-1 {
    display: none;
  }

  .news-wrap {
    top: 200px;
    z-index: 99;
    position: absolute;
  }

  .news-block-header {
    margin-top: 3rem;
  }

  .february {
    top: 165px;
    font-size: 0.78rem;
  }

  .sides .float-right {
    top: -65px;
    left: 104px;
  }

  .sides img {
    width: 60%;
  }

  .middle-container .container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .middle-container {
    margin-top: 3rem;
  }

  .magazine {
    margin-top: 3rem;
  }

  .articles-1 img {
    height: 45%;
  }

  .black-pres {
    width: 14%;
  }

  .weather-date {
    display: none;
  }

  .upper-nav .subscribe {
    left: 126px;
    position: relative;
    top: -9px;
  }

  .navbar-nav li {
    border-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .author-img {
    margin-left: 22rem;
    position: relative;
    top: -49px;
  }

  .wrap2 {
    top: 255px;
  }

  .wrap3 {
    top: 240px;
  }

  .extras {
    display: none;
  }

  .updates {
    display: flex;
  }

  .left-sub {
    margin-top: 3rem;
  }

  .bottom-sub {
    margin-left: 2rem;
    top: -16px;
    position: relative;
  }

  .starting span {
    position: relative;
    top: -11px;
  }

  .upper-nav .subscribe {
    left: 0;
    position: relative;
    top: -9px;
  }

  .top-story {
    margin-top: 3rem;
  }

  .wrap4 {
    top: 241px;
  }

  .february {
    top: 481px;
    font-size: 1.7rem;
  }

  .feb-cover {
    width: 100%;
  }

  .articles-1 img {
    height: 295px;
    width: 100%;
  }

  .in-focus {
    width: 100%;
  }

  .news-wrap {
    top: 313px;
    z-index: 99;
    position: absolute;
  }

  .slides-img {
    width: 100%;
  }

  .feature-img {
    bottom: 38px;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
